.footer {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5d4d8;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    padding: 1.25em;
}

.footer-socialmedia {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer-links {
    width: 30px;
    height: 100%;
}

.footer-socialmedia a:hover {
    background-color: #decbb6;
}